@import "../../assets/variable.scss";

.label_work {
  /*  background: rgba(46, 125, 30, 0.8);*/
  /* background: rgba(25, 135, 85, 0.6);*/
  /*  background: rgba(46, 125, 50, 0.8);*/
  background-color: rgba(46, 125, 50, 0.3);
  border-radius: 3px;
  margin: 10px 20px;
  position: relative;
  padding: 5px;
  left: 0px;
  top: 15px;
  font-weight: 500;
  font-size: 18px;
}

.gallery_img {
  max-width: 800px;
}

.gallery_title {
  font-size: 25px;
  margin-bottom: 30px;
}

.gallery {
  margin-top: 50px;
  margin-bottom: 150px;

  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
