@import "../../assets/variable.scss";

header {
  display: flex;
  flex-flow: row;
  justify-content: end;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  margin: 0px 20px 20px 0px;

  &_link {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-right: 15px;
    gap: 27px;
  }
}

.label_burger {
  display: none;
}

#toggle {
  display: none;
}

@media (max-width: 1024px) {
  .navbar {
    height: 60px;

    &_link {
      display: none;
      flex-direction: column;
      background: #48435c;
      font-size: 12px;
      height: 220px;
    }
  }
  .label_burger {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

  #toggle:checked + .navbar_link {
    display: flex;
  }

  .login_btn {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
